<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudWatchLogs" version="3.7.1.21" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.2.9" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NLog" version="4.7.11" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.11" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.10" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="Serilog.Filters.Expressions" version="2.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.AwsCloudWatch" version="4.0.171" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="4.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.NLog" version="3.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.3.0" targetFramework="net48" />
  <package id="Superpower" version="2.3.0" targetFramework="net48" />
</packages>
